.container,
.col-md-6,
.col-lg-3,
.card-landing {
  transition: all 1.5s;
}

.nav-link {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.light {
  color: $light !important;
}

.dark {
  color: $dark !important;
}

.nav-link:after,
.ver-mas:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.nav-link.light:after {
  background-color: $light;
}

.nav-link.dark:after {
  background-color: $dark;
}

.ver-mas:after {
  background-color: $dark;
}

.ver-mas,
.ver-mas:hover {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: $dark;
}

.nav-link:hover:after,
.ver-mas:hover:after {
  transform: scaleX(1);
}

.navbar-brand:hover,
.fab:hover, .h-100:hover {
  transition: transform 0.3s;
  transform: rotate(10deg) scale(1.1);
  cursor: pointer;
}

.h-100:hover {
  transition: transform 0.3s;
  transform: scale(1.03);
  cursor: pointer;
}