footer {
    background-color: #fff !important;

    & .la-biblio {
        text-align: center;
        font-family: 'Reenie Beanie', cursive;
        font-size: inherit;
    }

    & .fab {
        font-size: 40px;
    }
}