@import 'variables';
@import 'media-querys';
@import 'animaciones';
@import 'header';
@import 'main';
@import 'footer';

* {
    padding: 0;
    margin: 0;
    color: $dark;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background-image: url(../img/bg-img-header.svg);
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-size: cover;
}