@import 'variables';
@import 'animaciones';
@import 'header';
@import 'main';
@import 'footer';

* {
    padding: 0;
    margin: 0;
    color: $dark;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
     background-image: url(../img/bg-img-body.svg);
     background-color: transparent !important;
     background-repeat: no-repeat;
     background-size: cover;
}